.user-form {

    grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
    grid-template-columns: .1fr 3fr .1fr;
    grid-template-areas:
        ". title ."
        ". field_label_1 ."
        ". field_label_2 ."
        ". field_label_3 ."
}
